.admin-navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 25px;
    background:#fff;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.admin-navbar-left h2{
    font-size:34px;
    font-weight:700;
}

.admin-navbar-center{
    width:40%;
}

.admin-search-input{
    width:100%;
    padding:12px 18px;
    border:1px solid #ddd;
    border-radius:10px;
    outline:none;
    font-size:15px;
}

.admin-navbar-right{
    display:flex;
    align-items:center;
    gap:25px;
}

.admin-notification{
    font-size:26px;
    cursor:pointer;
}

.admin-profile{
    display:flex;
    align-items:center;
    gap:12px;
}

.admin-profile img{
    width:50px;
    height:50px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid #2563eb;
}

.admin-info{
    display:flex;
    flex-direction:column;
}

.admin-name{
    font-size:17px;
    font-weight:600;
}

.admin-role{
    color:#777;
}