.company-section {
  margin-top: 30px;
  background: #fff;
  padding: 30px;
  border-radius: 18px;
  overflow: hidden;
}

.company-section h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #374151;
  font-size: 28px;
}

.slider {
  overflow: hidden;
  margin-bottom: 20px;
}

.slide-track {
  display: flex;
  width: max-content;
  gap: 20px;
}

.left {
  animation: scrollLeft 25s linear infinite;
}

.right {
  animation: scrollRight 25s linear infinite;
}

.slider:hover .slide-track {
  animation-play-state: paused;
}

.company-card {
  min-width: 220px;
  height: 90px;

  border: 1px solid #dbeafe;
  border-radius: 15px;

  background: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  font-weight: 600;

  color: #374151;

  transition: all 0.3s ease;
}

.company-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,.08);
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

/* Tablet */

@media (max-width: 768px) {

  .company-card {
    min-width: 180px;
    height: 75px;
    font-size: 16px;
  }

  .company-section {
    padding: 20px;
  }
}

/* Mobile */

@media (max-width: 480px) {

  .company-card {
    min-width: 140px;
    height: 65px;
    font-size: 14px;
  }

  .company-section h2 {
    font-size: 22px;
  }
}