/* ===================================
   COMPANY SECTION
=================================== */

.company-section{
    width:100%;
    padding:90px 0;

    position:relative;
    overflow:hidden;

    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

/* REMOVE OVERLAY */

.company-overlay{
    display:none;
}

.company-container{
    width:90%;
    max-width:1350px;
    margin:auto;
}

/* ========================= */

.company-heading{
    text-align:center;
    margin-bottom:55px;
}

.company-heading span{

    display:inline-block;

    padding:12px 28px;

    border-radius:40px;

    background:rgba(255,255,255,.08);

    color:#f7b045;

    font-weight:700;

    letter-spacing:1px;

    margin-bottom:18px;
}

.company-heading h2{

    color:#fff;

    font-size:42px;

    font-weight:700;

    margin-bottom:15px;
}

.company-heading p{

    color:#cfd6e6;

    font-size:18px;
}

/* ========================= */

.slider{

    width:100%;

    overflow:hidden;

    margin:28px 0;

    position:relative;
}

.slide-track{

    display:flex;

    width:max-content;

    gap:22px;
}

.left{

    animation:scrollLeft 30s linear infinite;
}

.right{

    animation:scrollRight 30s linear infinite;
}

/* ========================= */

.company-card{

    width:180px;

    height:90px;

    background:#ffffff;

    border-radius:18px;

    display:flex;

    align-items:center;

    justify-content:center;

    flex-shrink:0;

    transition:.3s;

    box-shadow:0 10px 25px rgba(0,0,0,.18);
}

.company-card:hover{

    transform:translateY(-6px);
}

.company-card img{

    max-width:130px;

    max-height:55px;

    object-fit:contain;
}

/* ========================= */

@keyframes scrollLeft{

    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(-50%);
    }
}

@keyframes scrollRight{

    from{
        transform:translateX(-50%);
    }

    to{
        transform:translateX(0);
    }
}

/* ========================= */

@media(max-width:768px){

.company-heading h2{
    font-size:30px;
}

.company-heading p{
    font-size:15px;
}

.company-card{

    width:150px;

    height:75px;
}

.company-card img{

    max-width:105px;

    max-height:45px;
}

}